<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>Happy Hands</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="vendors/linericon/style.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css" />
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />
    <link rel="stylesheet" href="vendors/animate-css/animate.css" />
    <link rel="stylesheet" href="vendors/jquery-ui/jquery-ui.css" />
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>
    <!--================Header Menu Area =================-->
    <header class="header_area">
      <div class="top_menu">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <div class="float-left">
                <p>Phone: 0772500880</p>
                <p>email: thau5thersa@gmail.com</p>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="float-right">
                <ul class="right_side">
                  <li>
                    <a href="/cart">
                      gift card
                    </a>
                  </li>
                  <li>
                    <a href="/tracking">
                      track order
                    </a>
                  </li>
                  <li>
                    <a href="/contact">
                      Contact Us
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main_menu">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light w-100">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="/">
              <img src="img/logo.png" style="width: 150px;" alt="" />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse offset w-100"
              id="navbarSupportedContent"
            >
              <div class="row w-100 mr-0">
                <div class="col-lg-7 pr-0">
                  <ul class="nav navbar-nav center_nav pull-right">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active submenu dropdown">
                      <a
                        href="#"
                        class="nav-link dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false">
                        Shop</a>
                      <ul class="dropdown-menu">
                        <li class="nav-item">
                          <a class="nav-link" href="/category"
                            >Shop Category</a
                          >
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/single-product">
                            Product Details</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/checkout"
                            >Product Checkout</a
                          >
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/cart">Shopping Cart</a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item submenu dropdown">
                      <a
                        href="#"
                        class="nav-link dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                        >Blog</a
                      >
                      <ul class="dropdown-menu">
                        <li class="nav-item">
                          <a class="nav-link" href="/blog">Blog</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/single-blog"
                            >Blog Details</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item submenu dropdown">
                      <a
                        href="#"
                        class="nav-link dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                        >Pages</a
                      >
                      <ul class="dropdown-menu">
                        <li class="nav-item">
                          <a class="nav-link" href="/tracking">Tracking</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/elements">Elements</a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/contact">Contact</a>
                    </li>
                  </ul>
                </div>

                <div class="col-lg-5 pr-0">
                  <ul class="nav navbar-nav navbar-right right_nav pull-right">
                    <li class="nav-item">
                      <a href="#" class="icons">
                        <i class="ti-search" aria-hidden="true"></i>
                      </a>
                    </li>

                    <li class="nav-item">
                      <a href="#" class="icons">
                        <i class="ti-shopping-cart"></i>
                      </a>
                    </li>

                    <li class="nav-item">
                      <a href="#" class="icons">
                        <i class="ti-user" aria-hidden="true"></i>
                      </a>
                    </li>

                    <li class="nav-item">
                      <a href="#" class="icons">
                        <i class="ti-heart" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!--================Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div class="banner_content d-md-flex justify-content-between align-items-center">
            <div class="mb-3 mb-md-0">
              <h2>Shop Category</h2>
              <p>Very us move be blessed multiply night</p>
            </div>
            <div class="page_link">
              <a href="/">Home</a>
              <a href="/category">Shop</a>
              <a href="/category">Greeting Cards</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Category Product Area =================-->
    <section class="cat_product_area section_gap" style="margin-bottom:00px;">
      <div class="col-lg-3" style="position:absolute">
        <div class="left_sidebar_area">
          <aside class="left_widgets p_filter_widgets">
            <div class="l_w_title">
              <h3>Browse Categories</h3>
            </div>
            <div class="widgets_inner">
              <ul class="list">
                <li>
                  <a href="#" onclick="filterSelection('A')">Greetings Card</a>
                </li>
                <li>
                  <a href="#">Boquets</a>
                </li>
                <li>
                  <a href="#">Yarn Things</a>
                </li>
                <li>
                  <a href="#">Craft Works</a>
                </li>
                <li>
                  <a href="#">Sweet items</a>
                </li>
                <li>
                  <a href="#">Meat Alternatives</a>
                </li>

              </ul>
            </div>
          </aside>
          <aside class="left_widgets p_filter_widgets">
            <div class="l_w_title">
              <h3>Price Filter</h3>
            </div>
            <div class="widgets_inner">
              <div class="range_item">
                <div id="slider-range"></div>
                <div class="">
                  <label for="amount">Price : </label>
                  <input type="text" id="amount" readonly />
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
      <div class="container">
        <div class="row flex-row-reverse">




          <div class="col-lg-9">
            <div class="product_top_bar" style="margin-top:40px;">
              <div class="left_dorp">
                <select class="sorting">
                  <option value="1">Default sorting</option>

                </select>
                <select class="show">
                  <option value="1">Show 12</option>
                  <option value="2">Show 14</option>
                  <option value="4">Show 16</option>
                </select>
              </div>
            </div>

            <div class="latest_product_inner" style="margin-bottom:350px;">
              <div class="row">
                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img ">
                      <img class="card-img"src="https://ae01.alicdn.com/kf/HTB1fmWRLpXXXXbRaXXXq6xXFXXXk/White-Knit-Baby-boots-knit-girls-boots-knit-Baby-booties-handmade-baby-girl-shoes-knitted-baby.jpg"alt=""/>

                      <div class="p_icon">
                        <a href="#">
                          <i class="ti-eye"></i>
                        </a>
                        <a href="#">
                          <i class="ti-heart"></i>
                        </a>
                        <a href="#">
                          <i class="ti-shopping-cart"></i>
                        </a>
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4>BABY SHOES</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">LKR150.00</span>
                        <del></del>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                      <img
                        class="card-img"
                        src="https://i.etsystatic.com/15586785/r/il/8a05dc/1607413845/il_794xN.1607413845_qih3.jpg"
                        alt=""
                      />
                      <div class="p_icon">
                        <a href="#">
                          <i class="ti-eye"></i>
                        </a>
                        <a href="#">
                          <i class="ti-heart"></i>
                        </a>
                        <a href="#">
                          <i class="ti-shopping-cart"></i>
                        </a>
                      </div>
                    </div>
                    <div class="product-btm filterDiv  A">
                      <a href="#" class="d-block">
                        <h4>BABY SHOUSE</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">LKR100.00</span>
                        <del></del>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                      <img
                        class="card-img"
                        src="https://i.pinimg.com/originals/e1/8b/28/e18b284c1917855fb6bac0248840e634.jpg"
                        alt=""
                      />
                      <div class="p_icon">
                        <a href="#">
                          <i class="ti-eye"></i>
                        </a>
                        <a href="#">
                          <i class="ti-heart"></i>
                        </a>
                        <a href="#">
                          <i class="ti-shopping-cart"></i>
                        </a>
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4>BABY SHOUSE</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">LKR 150.00</span>
                        <del></del>
                      </div>
                    </div>
                  </div>
                </div>

                            <div class="latest_product_inner">
                              <div class="row">
                                <div class="col-lg-4 col-md-6">
                                  <div class="single-product">
                                    <div class="product-img ">
                                      <img class="card-img"src="https://images4-b.ravelrycache.com/uploads/Annanitato/346216851/DSC08555_small2.JPG"alt=""/>

                                      <div class="p_icon">
                                        <a href="#">
                                          <i class="ti-eye"></i>
                                        </a>
                                        <a href="#">
                                          <i class="ti-heart"></i>
                                        </a>
                                        <a href="#">
                                          <i class="ti-shopping-cart"></i>
                                        </a>
                                      </div>
                                    </div>
                                    <div class="product-btm">
                                      <a href="#" class="d-block">
                                        <h4>BABY CUP</h4>
                                      </a>
                                      <div class="mt-3">
                                        <span class="mr-4">LKR150.00</span>
                                        <del></del>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                  <div class="single-product">
                                    <div class="product-img">
                                      <img
                                        class="card-img"
                                        src="https://www.kittyandbean.com/uploads/2/8/0/5/28054973/2680727_orig.jpg"
                                        alt=""
                                      />
                                      <div class="p_icon">
                                        <a href="#">
                                          <i class="ti-eye"></i>
                                        </a>
                                        <a href="#">
                                          <i class="ti-heart"></i>
                                        </a>
                                        <a href="#">
                                          <i class="ti-shopping-cart"></i>
                                        </a>
                                      </div>
                                    </div>
                                    <div class="product-btm filterDiv  A">
                                      <a href="#" class="d-block">
                                        <h4>BABY CUP</h4>
                                      </a>
                                      <div class="mt-3">
                                        <span class="mr-4">LKR100.00</span>
                                        <del></del>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                  <div class="single-product">
                                    <div class="product-img">
                                      <img
                                        class="card-img"
                                        src="https://cdn.wonderfuldiy.com/wp-content/uploads/2017/08/Triple-rolled-brim-at-a-little-flower.jpg"
                                        alt=""
                                      />
                                      <div class="p_icon">
                                        <a href="#">
                                          <i class="ti-eye"></i>
                                        </a>
                                        <a href="#">
                                          <i class="ti-heart"></i>
                                        </a>
                                        <a href="#">
                                          <i class="ti-shopping-cart"></i>
                                        </a>
                                      </div>
                                    </div>
                                    <div class="product-btm">
                                      <a href="#" class="d-block">
                                        <h4>BABY CUP</h4>
                                      </a>
                                      <div class="mt-3">
                                        <span class="mr-4">LKR 150.00</span>
                                        <del></del>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                            <div class="latest_product_inner">
                                              <div class="row">
                                                <div class="col-lg-4 col-md-6">
                                                  <div class="single-product">
                                                    <div class="product-img ">
                                                      <img class="card-img"src="https://cdn-img-2.wanelo.com/p/a87/25b/3be/1f1c6f23ab1527d8d1878b3/x354-q80.jpg"alt=""/>

                                                      <div class="p_icon">
                                                        <a href="#">
                                                          <i class="ti-eye"></i>
                                                        </a>
                                                        <a href="#">
                                                          <i class="ti-heart"></i>
                                                        </a>
                                                        <a href="#">
                                                          <i class="ti-shopping-cart"></i>
                                                        </a>
                                                      </div>
                                                    </div>
                                                    <div class="product-btm">
                                                      <a href="#" class="d-block">
                                                        <h4>BABY CLOTHE</h4>
                                                      </a>
                                                      <div class="mt-3">
                                                        <span class="mr-4">LKR150.00</span>
                                                        <del></del>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>

                                                <div class="col-lg-4 col-md-6">
                                                  <div class="single-product">
                                                    <div class="product-img">
                                                      <img
                                                        class="card-img"
                                                        src="http://www.newbornbabystuff.com/wp-content/uploads/2017/04/crochet-baby-dress-crocheted-pattern-baby-dress-pinafore-jumper-on-crochetsqu.jpg"
                                                        alt=""
                                                      />
                                                      <div class="p_icon">
                                                        <a href="#">
                                                          <i class="ti-eye"></i>
                                                        </a>
                                                        <a href="#">
                                                          <i class="ti-heart"></i>
                                                        </a>
                                                        <a href="#">
                                                          <i class="ti-shopping-cart"></i>
                                                        </a>
                                                      </div>
                                                    </div>
                                                    <div class="product-btm filterDiv  A">
                                                      <a href="#" class="d-block">
                                                        <h4>BABY CLOTHE</h4>
                                                      </a>
                                                      <div class="mt-3">
                                                        <span class="mr-4">LKR100.00</span>
                                                        <del></del>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>

                                                <div class="col-lg-4 col-md-6">
                                                  <div class="single-product">
                                                    <div class="product-img">
                                                      <img
                                                        class="card-img"
                                                        src="https://di2ponv0v5otw.cloudfront.net/posts/2018/01/27/5a6cc015a825a699aa5caa14/m_5a6cc028a825a604785caa95.jpg"
                                                        alt=""
                                                      />
                                                      <div class="p_icon">
                                                        <a href="#">
                                                          <i class="ti-eye"></i>
                                                        </a>
                                                        <a href="#">
                                                          <i class="ti-heart"></i>
                                                        </a>
                                                        <a href="#">
                                                          <i class="ti-shopping-cart"></i>
                                                        </a>
                                                      </div>
                                                    </div>
                                                    <div class="product-btm">
                                                      <a href="#" class="d-block">
                                                        <h4>BABY CLOTHE</h4>
                                                      </a>
                                                      <div class="mt-3">
                                                        <span class="mr-4">LKR 150.00</span>
                                                        <del></del>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                      <img
                        class="card-img"
                        src="https://cf3.s3.souqcdn.com/item/2018/07/17/36/60/58/19/item_XL_36605819_143501184.jpg"
                        alt=""
                      />
                      <div class="p_icon">
                        <a href="#">
                          <i class="ti-eye"></i>
                        </a>
                        <a href="#">
                          <i class="ti-heart"></i>
                        </a>
                        <a href="#">
                          <i class="ti-shopping-cart"></i>
                        </a>
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4>JIMIKKI</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">LKR 300.00</span>
                        <del></del>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                      <img
                        class="card-img"
                        src="https://static.artfire.com/uploads/mfs/items/15/cf/large/15cfcd93f8b0807e8778e6eb194275ff3c9f29fbe796582588dce32b5f464a4d.jpg"
                        alt=""
                      />
                      <div class="p_icon">
                        <a href="#">
                          <i class="ti-eye"></i>
                        </a>
                        <a href="#">
                          <i class="ti-heart"></i>
                        </a>
                        <a href="#">
                          <i class="ti-shopping-cart"></i>
                        </a>
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4>JIMIKKI</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">LKR 150.00</span>
                        <del></del>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                      <img
                        class="card-img"
                        src="https://www.aureejewellery.com/media/catalog/product/g/l/gloucester-yellow-gold-pearl-earrings.jpg"
                        alt=""
                      />
                      <div class="p_icon">
                        <a href="#">
                          <i class="ti-eye"></i>
                        </a>
                        <a href="#">
                          <i class="ti-heart"></i>
                        </a>
                        <a href="#">
                          <i class="ti-shopping-cart"></i>
                        </a>
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4>JIMIKKI</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">LKR 100.00</span>
                        <del></del>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                      <img
                        class="card-img"
                        src="https://5.imimg.com/data5/DM/JO/MY-28521318/kasthuri-multi-colour-silk-thread-bangle-500x500.jpg"
                        alt=""
                      />
                      <div class="p_icon">
                        <a href="#">
                          <i class="ti-eye"></i>
                        </a>
                        <a href="#">
                          <i class="ti-heart"></i>
                        </a>
                        <a href="#">
                          <i class="ti-shopping-cart"></i>
                        </a>
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4>BANGLE</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">LKR 250.00</span>
                        <del></del>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                      <img
                        class="card-img"
                        src="https://stylesatlife.com/wp-content/uploads/2017/03/Handmade-Thread-Bangles.jpg"
                        alt=""
                      />
                      <div class="p_icon">
                        <a href="#">
                          <i class="ti-eye"></i>
                        </a>
                        <a href="#">
                          <i class="ti-heart"></i>
                        </a>
                        <a href="#">
                          <i class="ti-shopping-cart"></i>
                        </a>
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4> COLOR BANGLE</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">LKR 150.00</span>
                        <del></del>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                      <img
                        class="card-img"
                        src="https://ae01.alicdn.com/kf/HTB1zj7cc5OYBuNjSsD4q6zSkFXaw/Unique-natural-pearl-bracelet-brown-leather-bangles-knotted-single-pearl-jewelry-sliding-knot-freshwater-pearl-jewelry.jpg_q50.jpg"
                        alt=""
                      />
                      <div class="p_icon">
                        <a href="#">
                          <i class="ti-eye"></i>
                        </a>
                        <a href="#">
                          <i class="ti-heart"></i>
                        </a>
                        <a href="#">
                          <i class="ti-shopping-cart"></i>
                        </a>
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4>NOOL</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">$25.00</span>
                        <del>$35.00</del>
                      </div>
                    </div>
                  </div>
                </div>

                                <div class="col-lg-4 col-md-6">
                                  <div class="single-product">
                                    <div class="product-img">
                                      <img
                                        class="card-img"
                                        src="https://d2h1pu99sxkfvn.cloudfront.net/b0/357569/447671653_T6h3Qr7Zmj/P8.jpg"
                                        alt=""
                                      />
                                      <div class="p_icon">
                                        <a href="#">
                                          <i class="ti-eye"></i>
                                        </a>
                                        <a href="#">
                                          <i class="ti-heart"></i>
                                        </a>
                                        <a href="#">
                                          <i class="ti-shopping-cart"></i>
                                        </a>
                                      </div>
                                    </div>
                                    <div class="product-btm">
                                      <a href="#" class="d-block">
                                        <h4>MAALAI</h4>
                                      </a>
                                      <div class="mt-3">
                                        <span class="mr-4">LKR 250.00</span>
                                        <del></del>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                                                <div class="col-lg-4 col-md-6">
                                                                  <div class="single-product">
                                                                    <div class="product-img">
                                                                      <img
                                                                        class="card-img"
                                                                        src="https://m.media-amazon.com/images/I/41kiYDniu+L._SR500,500_.jpg"
                                                                        alt=""
                                                                      />
                                                                      <div class="p_icon">
                                                                        <a href="#">
                                                                          <i class="ti-eye"></i>
                                                                        </a>
                                                                        <a href="#">
                                                                          <i class="ti-heart"></i>
                                                                        </a>
                                                                        <a href="#">
                                                                          <i class="ti-shopping-cart"></i>
                                                                        </a>
                                                                      </div>
                                                                    </div>
                                                                    <div class="product-btm">
                                                                      <a href="#" class="d-block">
                                                                        <h4>MAALAI</h4>
                                                                      </a>
                                                                      <div class="mt-3">
                                                                        <span class="mr-4">LKR 300.00</span>
                                                                        <del></del>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>

                                                                                                <div class="col-lg-4 col-md-6">
                                                                                                  <div class="single-product">
                                                                                                    <div class="product-img">
                                                                                                      <img
                                                                                                        class="card-img"
                                                                                                        src="https://kinclimg9.bluestone.com/f_jpg,c_scale,w_515,b_rgb:f0f0f0/giproduct/BISA0255N23_YAA18PRWHXXXXXXXX_ABCD00-PICS-00003-1024-9327.png"
                                                                                                        alt=""
                                                                                                      />
                                                                                                      <div class="p_icon">
                                                                                                        <a href="#">
                                                                                                          <i class="ti-eye"></i>
                                                                                                        </a>
                                                                                                        <a href="#">
                                                                                                          <i class="ti-heart"></i>
                                                                                                        </a>
                                                                                                        <a href="#">
                                                                                                          <i class="ti-shopping-cart"></i>
                                                                                                        </a>
                                                                                                      </div>
                                                                                                    </div>
                                                                                                    <div class="product-btm">
                                                                                                      <a href="#" class="d-block">
                                                                                                        <h4>MAALAI</h4>
                                                                                                      </a>
                                                                                                      <div class="mt-3">
                                                                                                        <span class="mr-4">LKR 100.00</span>
                                                                                                        <del></del>
                                                                                                      </div>
                                                                                                    </div>
                                                                                                  </div>
                                                                                                </div>

                                <div class="latest_product_inner">
                                  <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                      <div class="single-product">
                                        <div class="product-img ">
                                          <img class="card-img"src="http://www.fastal.pro/wp-content/uploads/to-make-greeting-cards-barbicanbeauty-how-make-birthday-card-at-home.jpg"alt=""/>

                                          <div class="p_icon">
                                            <a href="#">
                                              <i class="ti-eye"></i>
                                            </a>
                                            <a href="#">
                                              <i class="ti-heart"></i>
                                            </a>
                                            <a href="#">
                                              <i class="ti-shopping-cart"></i>
                                            </a>
                                          </div>
                                        </div>
                                        <div class="product-btm">
                                          <a href="#" class="d-block">
                                            <h4>BIRH DAY CARD</h4>
                                          </a>
                                          <div class="mt-3">
                                            <span class="mr-4">LKR150.00</span>
                                            <del></del>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6">
                                      <div class="single-product">
                                        <div class="product-img">
                                          <img
                                            class="card-img"
                                            src="https://bestwishes4birthday.com/wp-content/uploads/D/hand%20make%20birthday%20card%20;%20hand-make-birthday-card-elegant-birthday-card-handmade-marianne-squirrel-with-tonic-number-of-hand-make-birthday-card.jpg"
                                            alt=""
                                          />
                                          <div class="p_icon">
                                            <a href="#">
                                              <i class="ti-eye"></i>
                                            </a>
                                            <a href="#">
                                              <i class="ti-heart"></i>
                                            </a>
                                            <a href="#">
                                              <i class="ti-shopping-cart"></i>
                                            </a>
                                          </div>
                                        </div>
                                        <div class="product-btm filterDiv  A">
                                          <a href="#" class="d-block">
                                            <h4>BIRTH DAY CARD</h4>
                                          </a>
                                          <div class="mt-3">
                                            <span class="mr-4">LKR150.00</span>
                                            <del></del>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6">
                                      <div class="single-product">
                                        <div class="product-img">
                                          <img
                                            class="card-img"
                                            src="http://elektroautos.co/wp-content/uploads/2018/06/easy-birthday-card-homemade-designs-handmade-making.jpg"
                                            alt=""
                                          />
                                          <div class="p_icon">
                                            <a href="#">
                                              <i class="ti-eye"></i>
                                            </a>
                                            <a href="#">
                                              <i class="ti-heart"></i>
                                            </a>
                                            <a href="#">
                                              <i class="ti-shopping-cart"></i>
                                            </a>
                                          </div>
                                        </div>
                                        <div class="product-btm">
                                          <a href="#" class="d-block">
                                            <h4>BIRTH DAY CARD</h4>
                                          </a>
                                          <div class="mt-3">
                                            <span class="mr-4">LKR 100.00</span>
                                            <del></del>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6">
                                      <div class="single-product">
                                        <div class="product-img">
                                          <img
                                            class="card-img"
                                            src="http://www.fcstbrice.com/wp-content/uploads/2018/06/casual-wedding-lanterns-about-second-wedding-anniversary-gift-ideas.jpg"
                                            alt=""
                                          />
                                          <div class="p_icon">
                                            <a href="#">
                                              <i class="ti-eye"></i>
                                            </a>
                                            <a href="#">
                                              <i class="ti-heart"></i>
                                            </a>
                                            <a href="#">
                                              <i class="ti-shopping-cart"></i>
                                            </a>
                                          </div>
                                        </div>
                                        <div class="product-btm">
                                          <a href="#" class="d-block">
                                            <h4>ANNIVERSARY CARDS</h4>
                                          </a>
                                          <div class="mt-3">
                                            <span class="mr-4">LKR 150.00</span>
                                            <del></del>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6">
                                      <div class="single-product">
                                        <div class="product-img">
                                          <img
                                            class="card-img"
                                            src="http://www.whatsappdunia.com/uploads/images/5955e0100404b.jpg"
                                            alt=""
                                          />
                                          <div class="p_icon">
                                            <a href="#">
                                              <i class="ti-eye"></i>
                                            </a>
                                            <a href="#">
                                              <i class="ti-heart"></i>
                                            </a>
                                            <a href="#">
                                              <i class="ti-shopping-cart"></i>
                                            </a>
                                          </div>
                                        </div>
                                        <div class="product-btm">
                                          <a href="#" class="d-block">
                                            <h4>VALENTINES DAY CARD</h4>
                                          </a>
                                          <div class="mt-3">
                                            <span class="mr-4">LKR 150.00</span>
                                            <del></del>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6">
                                      <div class="single-product">
                                        <div class="product-img">
                                          <img
                                            class="card-img"
                                            src="https://lqp-p-imgs.s3-ap-south-1.amazonaws.com/faceview/ae/c9b/hh/a7b/affimgs/az-large-1772104.jpg"
                                            alt=""
                                          />
                                          <div class="p_icon">
                                            <a href="#">
                                              <i class="ti-eye"></i>
                                            </a>
                                            <a href="#">
                                              <i class="ti-heart"></i>
                                            </a>
                                            <a href="#">
                                              <i class="ti-shopping-cart"></i>
                                            </a>
                                          </div>
                                        </div>
                                        <div class="product-btm">
                                          <a href="#" class="d-block">
                                            <h4>ANNIVERSARY CARDS</h4>
                                          </a>
                                          <div class="mt-3">
                                            <span class="mr-4">LKR 100.00</span>
                                            <del></del>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6">
                                      <div class="single-product">
                                        <div class="product-img">
                                          <img
                                            class="card-img"
                                            src="http://www.articlesweb.org/blog/wp-content/uploads/sites/1/nggallery/macrame-purse-2/Macrame-Purse-6.jpg"
                                            alt=""
                                          />
                                          <div class="p_icon">
                                            <a href="#">
                                              <i class="ti-eye"></i>
                                            </a>
                                            <a href="#">
                                              <i class="ti-heart"></i>
                                            </a>
                                            <a href="#">
                                              <i class="ti-shopping-cart"></i>
                                            </a>
                                          </div>
                                        </div>
                                        <div class="product-btm">
                                          <a href="#" class="d-block">
                                            <h4>BHURSE</h4>
                                          </a>
                                          <div class="mt-3">
                                            <span class="mr-4">LKR 250.00</span>
                                            <del></del>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6">
                                      <div class="single-product">
                                        <div class="product-img">
                                          <img
                                            class="card-img"
                                            src="https://5.imimg.com/data5/VN/ZH/DZ/SELLER-1782100/casual-luxurious-macrame-designer-clutch-handbags-500x500.jpg"
                                            alt=""
                                          />
                                          <div class="p_icon">
                                            <a href="#">
                                              <i class="ti-eye"></i>
                                            </a>
                                            <a href="#">
                                              <i class="ti-heart"></i>
                                            </a>
                                            <a href="#">
                                              <i class="ti-shopping-cart"></i>
                                            </a>
                                          </div>
                                        </div>
                                        <div class="product-btm">
                                          <a href="#" class="d-block">
                                            <h4> BHURSE</h4>
                                          </a>
                                          <div class="mt-3">
                                            <span class="mr-4">LKR 150.00</span>
                                            <del></del>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6">
                                      <div class="single-product">
                                        <div class="product-img">
                                          <img
                                            class="card-img"
                                            src="https://cdn02.pinkoi.com/product/tFXFSQuS/0/800x0.jpg"
                                            alt=""
                                          />
                                          <div class="p_icon">
                                            <a href="#">
                                              <i class="ti-eye"></i>
                                            </a>
                                            <a href="#">
                                              <i class="ti-heart"></i>
                                            </a>
                                            <a href="#">
                                              <i class="ti-shopping-cart"></i>
                                            </a>
                                          </div>
                                        </div>
                                        <div class="product-btm">
                                          <a href="#" class="d-block">
                                            <h4>BHURSE</h4>
                                          </a>
                                          <div class="mt-3">
                                            <span class="mr-4">$25.00</span>
                                            <del>$35.00</del>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="latest_product_inner">
                                      <div class="row">
                                        <div class="col-lg-4 col-md-6">
                                          <div class="single-product">
                                            <div class="product-img ">
                                              <img class="card-img"src="https://dlp2gfjvaz867.cloudfront.net/product_photos/34841877/1_33_DSC_1645_original.jpg"alt=""/>

                                              <div class="p_icon">
                                                <a href="#">
                                                  <i class="ti-eye"></i>
                                                </a>
                                                <a href="#">
                                                  <i class="ti-heart"></i>
                                                </a>
                                                <a href="#">
                                                  <i class="ti-shopping-cart"></i>
                                                </a>
                                              </div>
                                            </div>
                                            <div class="product-btm">
                                              <a href="#" class="d-block">
                                                <h4>BAG</h4>
                                              </a>
                                              <div class="mt-3">
                                                <span class="mr-4">LKR 200.00</span>
                                                <del></del>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6">
                                          <div class="single-product">
                                            <div class="product-img">
                                              <img
                                                class="card-img"
                                                src="https://i.redd.it/qpk3i0natrd01.jpg"
                                                alt=""
                                              />
  <div class="p_icon">
  <a href="#">
  <i class="ti-eye"></i>
  </a>
  <a href="#">
  <i class="ti-heart"></i>
  </a>
  <a href="#">
  <i class="ti-shopping-cart"></i>
  </a>
  </div>
  </div>
  <div class="product-btm filterDiv  A">
  <a href="#" class="d-block">
  <h4>BAG</h4>
  </a>
  <div class="mt-3">
  <span class="mr-4">LKR 150.00</span>
  <del></del>
  </div>
  </div>
  </div>
  </div>

  <div class="col-lg-4 col-md-6">
  <div class="single-product">
  <div class="product-img">
  <img
  class="card-img"
  src="https://ecs7.tokopedia.net/img/product-1/2015/4/24/272115/272115_f2ec0678-ea71-11e4-b743-f69f49bc7260.jpg"
  alt=""
  />
  <div class="p_icon">
  <a href="#">
  <i class="ti-eye"></i>
  </a>
  <a href="#">
  <i class="ti-heart"></i>
  </a>
  <a href="#">
  <i class="ti-shopping-cart"></i>
  </a>
  </div>
  </div>
  <div class="product-btm">
  <a href="#" class="d-block">
  <h4>BAG</h4>
  </a>
  <div class="mt-3">
  <span class="mr-4">LKR 100.00</span>
  <del></del>
  </div>
  </div>
  </div>
  </div>

  <div class="col-lg-4 col-md-6">
  <div class="single-product">
  <div class="product-img">
  <img
  class="card-img"
  src="https://cdn2.amenosde1euro.com/39921-large_default/cesta-mimbre-blanca-gde--lunares-beig.jpg"
  alt=""
  />
  <div class="p_icon">
  <a href="#">
  <i class="ti-eye"></i>
  </a>
  <a href="#">
  <i class="ti-heart"></i>
  </a>
  <a href="#">
  <i class="ti-shopping-cart"></i>
  </a>
  </div>
  </div>
  <div class="product-btm">
  <a href="#" class="d-block">
  <h4>HAND BAG</h4>
  </a>
  <div class="mt-3">
  <span class="mr-4">LKR 150.00</span>
  <del></del>
  </div>
  </div>
  </div>
  </div>
  <div class="col-lg-4 col-md-6">
  <div class="single-product">
  <div class="product-img">
  <img
  class="card-img"
  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxa0UvNt241NeiDI8O7nKhaFYJY_GuyAAHkkirU7asn2JBeZtk"
  alt=""
  />
  <div class="p_icon">
  <a href="#">
  <i class="ti-eye"></i>
  </a>
  <a href="#">
  <i class="ti-heart"></i>
  </a>
  <a href="#">
  <i class="ti-shopping-cart"></i>
  </a>
  </div>
  </div>
  <div class="product-btm">
  <a href="#" class="d-block">
  <h4>STYLE BAG</h4>
  </a>
  <div class="mt-3">
  <span class="mr-4">LKR 150.00</span>
  <del></del>
  </div>
  </div>
  </div>
  </div>

  <div class="col-lg-4 col-md-6">
  <div class="single-product">
  <div class="product-img">
  <img
  class="card-img"
  src="https://cdn2.amenosde1euro.com/39867-large_default/cesta-mimbre-blanca-peq--lunares-marron-claro.jpg"
  alt=""
  />
  <div class="p_icon">
  <a href="#">
  <i class="ti-eye"></i>
  </a>
  <a href="#">
  <i class="ti-heart"></i>
  </a>
  <a href="#">
  <i class="ti-shopping-cart"></i>
  </a>
  </div>
  </div>
  <div class="product-btm">
  <a href="#" class="d-block">
  <h4>BOOK BAG</h4>
  </a>
  <div class="mt-3">
  <span class="mr-4">LKR 100.00</span>
  <del></del>
  </div>
  </div>
  </div>
  </div>

  <div class="latest_product_inner">
  <div class="row">
  <div class="col-lg-4 col-md-6">
  <div class="single-product">
  <div class="product-img ">
  <img class="card-img"src="https://4.imimg.com/data4/BN/JQ/ANDROID-15101965/product-500x500.jpeg"alt=""/>

    <div class="p_icon">
 <a href="#">
    <i class="ti-eye"></i>
    </a>
    <a href="#">
    <i class="ti-heart"></i>
    </a>
    <a href="#">
    <i class="ti-shopping-cart"></i>
    </a>
    </div>
    </div>
    <div class="product-btm">
    <a href="#" class="d-block">
    <h4>POONTHI</h4>
    </a>
    <div class="mt-3">
    <span class="mr-4">LKR 30.00</span>
    <del></del>
    </div>
    </div>
    </div>
    </div>

    <div class="col-lg-4 col-md-6">
    <div class="single-product">
    <div class="product-img">
    <img
    class="card-img"
    src="http://grocerykarido.com/wp-content/uploads/2016/07/Fresh-Yellow-Boondi-Laddu-1-LB.jpg"
    alt=""
    />
    <div class="p_icon">
    <a href="#">
    <i class="ti-eye"></i>
    </a>
    <a href="#">
    <i class="ti-heart"></i>
    </a>
    <a href="#">
    <i class="ti-shopping-cart"></i>
    </a>
    </div>
    </div>
    <div class="product-btm filterDiv  A">
    <a href="#" class="d-block">
    <h4>POONTHI</h4>
    </a>
    <div class="mt-3">
    <span class="mr-4">LKR 30.00</span>
    <del></del>
    </div>
    </div>
    </div>
    </div>

    <div class="col-lg-4 col-md-6">
    <div class="single-product">
    <div class="product-img">
    <img
    class="card-img"
    src="http://www.manjulaskitchen.com/blog/wp-content/uploads/boondi_ladoo.jpg"
    alt=""
     />
    <div class="p_icon">
    <a href="#">
    <i class="ti-eye"></i>
    </a>
    <a href="#">
    <i class="ti-heart"></i>
    </a>
    <a href="#">
    <i class="ti-shopping-cart"></i>
    </a>
    </div>
    </div>
    <div class="product-btm">
    <a href="#" class="d-block">
    <h4>POONTHI</h4>
    </a>
    <div class="mt-3">
    <span class="mr-4">LKR 30.00</span>
    <del></del>
    </div>
    </div>
    </div>
    </div>
    <div class="latest_product_inner">
    <div class="row">
    <div class="col-lg-4 col-md-6">
    <div class="single-product">
    <div class="product-img ">
    <img class="card-img"src="https://d8om7iimu98sr.cloudfront.net/pub/media/catalog/product/cache/735ad5ebda860974adb376191f1db26f/O/Y/OYEFCK07.jpg"alt=""/>

    <div class="p_icon">
    <a href="#">
    <i class="ti-eye"></i>
    </a>
    <a href="#">
    <i class="ti-heart"></i>
    </a>
    <a href="#">
    <i class="ti-shopping-cart"></i>
    </a>
    </div>
    </div>
    <div class="product-btm">
    <a href="#" class="d-block">
    <h4>ICCING CAKE</h4>
    </a>
    <div class="mt-3">
    <span class="mr-4">LKR 450.00LKR 450.00</span>
    <del></del>
    </div>
    </div>
    </div>
    </div>

      <div class="col-lg-4 col-md-6">
      <div class="single-product">
        <div class="product-img">
      <img
    class="card-img"
      src="https://www.tajonline.com/images/product_images/fnp2339_large4.jpg"
      alt=""
      />
      <div class="p_icon">
    <a href="#">
      <i class="ti-eye"></i>
      </a>
      <a href="#">
      <i class="ti-heart"></i>
      </a>
      <a href="#">
      <i class="ti-shopping-cart"></i>
      </a>
      </div>
      </div>
      <div class="product-btm filterDiv  A">
      <a href="#" class="d-block">
      <h4>ICCING CAKE</h4>
      </a>
      <div class="mt-3">
     <span class="mr-4">LKR 450.00</span>
      <del></del>
      </div>
      </div>
      </div>
      </div>

      <div class="col-lg-4 col-md-6">
      <div class="single-product">
      <div class="product-img">
      <img
      class="card-img"
      src="https://caketonepal.com/wp-content/uploads/2018/11/16343566_1720420964935928_846721554_n-e1485546871511.jpg"
      alt=""
       />
      <div class="p_icon">
      <a href="#">
      <i class="ti-eye"></i>
      </a>
      <a href="#">
      <i class="ti-heart"></i>
      </a>
      <a href="#">
      <i class="ti-shopping-cart"></i>
      </a>
      </div>
      </div>
      <div class="product-btm">
      <a href="#" class="d-block">
      <h4>ICCING CAKE</h4>
      </a>
      <div class="mt-3">
      <span class="mr-4">LKR 450.00</span>
      <del></del>
      </div>
      </div>
      </div>
      </div>

      <div class="col-lg-4 col-md-6">
      <div class="single-product">
      <div class="product-img">
      <img
      class="card-img"
      src="https://bouqs-production-weblinc.netdna-ssl.com/product_images/tropical-pineapple-ginger/deluxe/5d0d7ae66170701821002d26/large_thumb.jpg?c=1561164518"
      alt=""
      />
      <div class="p_icon">
      <a href="#">
      <i class="ti-eye"></i>
      </a>
      <a href="#">
      <i class="ti-heart"></i>
      </a>
      <a href="#">
      <i class="ti-shopping-cart"></i>
      </a>
      </div>
      </div>
      <div class="product-btm">
      <a href="#" class="d-block">
      <h4>BOUQUET</h4>
      </a>
      <div class="mt-3">
      <span class="mr-4">LKR 300.00</span>
      <del></del>
      </div>
      </div>
      </div>
      </div>

    <div class="col-lg-4 col-md-6">
    <div class="single-product">
    <div class="product-img">
    <img
    class="card-img"
    src="https://d3endcnfk4174v.cloudfront.net/wp-content/uploads/2019/04/02084010/IMG-20190308-WA0015.jpg"
    alt=""
    />
    <div class="p_icon">
    <a href="#">
    <i class="ti-eye"></i>
    </a>
      <a href="#">
      <i class="ti-heart"></i>
      </a>
      <a href="#">
      <i class="ti-shopping-cart"></i>
      </a>
      </div>
      </div>
      <div class="product-btm">
      <a href="#" class="d-block">
      <h4>BOUQUET</h4>
      </a>
      <div class="mt-3">
      <span class="mr-4">LKR 150.00</span>
     <del></del>
      </div>
      </div>
      </div>
      </div>

      <div class="col-lg-4 col-md-6">
      <div class="single-product">
      <div class="product-img">
      <img
      class="card-img"
      src="https://i.etsystatic.com/5609359/r/il/d5cba0/1544418409/il_570xN.1544418409_pjl0.jpg"
      alt=""
      />
      <div class="p_icon">
      <a href="#">
      <i class="ti-eye"></i>
      </a>
      <a href="#">
      <i class="ti-heart"></i>
      </a>
      <a href="#">
      <i class="ti-shopping-cart"></i>
      </a>
      </div>
      </div>
      <div class="product-btm">
      <a href="#" class="d-block">
      <h4>BOUQUET</h4>
      </a>
      <div class="mt-3">
      <span class="mr-4">LKR 100.00</span>
      <del></del>
      </div>
      </div>
      </div>
      </div>

      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
        </div>
      </div>
    </section>
    <!--================End Category Product Area =================-->

    <!--================ start footer Area  =================-->
    <footer class="footer-area section_gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-6 single-footer-widget">
            <h4>Top Products</h4>
            <ul>
              <li><a href="#">Managed Website</a></li>
              <li><a href="#">Manage Reputation</a></li>
              <li><a href="#">Power Tools</a></li>
              <li><a href="#">Marketing Service</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 single-footer-widget">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Brand Assets</a></li>
              <li><a href="#">Investor Relations</a></li>
              <li><a href="#">Terms of Service</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 single-footer-widget">
            <h4>Features</h4>
            <ul>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Brand Assets</a></li>
              <li><a href="#">Investor Relations</a></li>
              <li><a href="#">Terms of Service</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 single-footer-widget">
            <h4>Resources</h4>
            <ul>
              <li><a href="#">Guides</a></li>
              <li><a href="#">Research</a></li>
              <li><a href="#">Experts</a></li>
              <li><a href="#">Agencies</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 single-footer-widget">
            <h4>Newsletter</h4>
            <p>You can trust us. we only send promo offers,</p>
            <div class="form-wrap" id="mc_embed_signup">
              <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                method="get" class="form-inline">
                <input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Your Email Address '" required="" type="email">
                <button class="click-btn btn btn-default">Subscribe</button>
                <div style="position: absolute; left: -5000px;">
                  <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                </div>

                <div class="info"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="footer-bottom row align-items-center">
          <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          <div class="col-lg-4 col-md-12 footer-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
          </div>
        </div>
      </div>
    </footer>
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="vendors/isotope/isotope-min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="vendors/jquery-ui/jquery-ui.js"></script>
    <script src="vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendors/counter-up/jquery.counterup.js"></script>
    <script src="js/theme.js"></script>



    <script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>
  </body>
</html>
